.container{
    height: 50%;
    width: 35%;
    float: center;
    background: white;
    border: 20px solid #f1f1f1;
    margin-left: 30%;
}
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
h2{
	text-align:center;
	background: green; 
}
